.seats-info {
  display: flex;
}

.seats-info__choosed-tickets-list {
  overflow-y: auto;
  text-align: start;
}

.seats-info__btn {
  border: 1px solid rgb(233, 136, 157); 
  background-color: rgb(60, 60, 61); 
  color: rgb(233, 136, 157); 
  font-size: 17px; 
  border-radius: 60px; 
  font-weight: 100; 
  letter-spacing: 0.01em; 
  padding: 10px 15px; 
}

@media only screen and (max-width: 992px) {
  .seats-info {  
    flex-direction: row;
    margin-top: 20px;
    justify-content: flex-start;
    margin-bottom: 20px;
    max-height: 170px;  
  }
  .seats-info__choosed-tickets-list {
    padding-right: 15px;
    min-width: 100px;
    border-right: 1px solid black;
  }
  
  .seats-info__choosed-tickets-title {
    padding-bottom: 10px;
    font-size: 21px;
    font-weight: 600;
  }

  .seats-info__choosed-ticket {
    font-size: 19px;
  }
  
  .seats-info__include {
    padding-top: 7px;
    margin-right: 20px;
    text-align: end;
    align-self: flex-start;
    width: 150px;
    font-size: 19px;
  }
  
  .seats-info__btn {
    height: 40px;
    width: 100px;
  }
} 
@media only screen and (max-width: 768px) {
  .seats-info {
    flex-direction: row;
    margin-top: 20px;
    justify-content: flex-start;
    margin-bottom: 20px;
    max-height: 150px;  
  }
  
  .seats-info__choosed-tickets-list {
    padding-right: 15px;
    min-width: 100px;
    border-right: 1px solid black;
  }
  
  .seats-info__choosed-tickets-title {
    padding-bottom: 10px;
    font-size: 19px;
    font-weight: 600;
  }

  .seats-info__choosed-ticket {
    font-size: 17px;
  }
  
  .seats-info__include {
    padding-top: 7px;
    margin-right: 20px;
    text-align: end;
    align-self: flex-start;
    width: 120px;
    font-size: 17px;
  }
  
  .seats-info__btn {
    height: 40px;
    width: 100px;
  }
} 
@media only screen and (max-width: 420px) {
  .seats-info {
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
    max-height: 260px;  
  }
  
  .seats-info__choosed-tickets-list {
    min-width: 100px;
    border-right: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
  }

  .seats-info__choosed-tickets-title {
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
  }

  .seats-info__choosed-ticket {
    font-size: 20px;
  }
  
  .seats-info__include {
    padding-top: 7px;
    margin-right: 20px;
    text-align: end;
    align-self: flex-start;
    width: 120px;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .seats-info__btn {
    height: 40px;
    width: 180px;
  }
}
@media only screen and (min-width: 993px) {
  .seats-info {
    flex-direction: row;
    margin-top: 30px;
    justify-content: flex-end;
    margin-bottom: 30px;
    max-height: 190px;  
  }
  
  .seats-info__choosed-tickets-list {
    padding-right: 15px;
    min-width: 100px;
    border-right: 1px solid black;
  }
  
  .seats-info__choosed-tickets-title {
    padding-bottom: 10px;
    font-size: 23px;
    font-weight: 600;
  }

  .seats-info__choosed-ticket {
    font-size: 22px;
  }
  
  .seats-info__include {
    padding-left: 10px;
    margin-right: 40px;
    text-align: end;
     align-self: flex-start;
     width: 150px;
     font-size: 22px;
  }
  
  .seats-info__btn {
    height: 40px;
    width: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .seats-info {
    flex-direction: row;
    margin-top: 30px;
    justify-content: flex-end;
    margin-bottom: 30px;
    max-height: 190px;  
  }
  
  .seats-info__choosed-tickets-list {
    padding-right: 15px;
    min-width: 100px;
    border-right: 1px solid black;
  }

  .seats-info__choosed-ticket {
    font-size: 23px;
  }
  
  .seats-info__choosed-tickets-title {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
  }
  
  .seats-info__include {
    padding-top: 7px;
    padding-left: 10px;
    margin-right: 40px;
    text-align: end;
     align-self: flex-start;
     width: 150px;
     font-size: 23px;
  }
  
  .seats-info__btn {
    height: 40px;
    width: 100px;
  }
}