@import '../../variables.scss';

.seats-info {
  display: flex;
  flex-direction: row;
  margin-top: 30px;

  &__chosen-tickets-list {
    overflow-y: auto;
    text-align: start;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    border-right: 1px solid $black;
  }

  &__btn {
    border: 1px solid $pink; 
    background-color: $light-brown; 
    color: $pink; 
    font-size: 17px; 
    border-radius: 60px; 
    font-weight: 100; 
    padding: 10px 15px; 
    height: 40px;
    width: 120px;
  }

  &__include {
    font-size: 22px;
    display: flex;
  }

  &__chosen-ticket {
    font-size: 20px;
    display: flex;

    &-list {
      min-width: 100px;
    }
  }

  &__chosen-tickets-title {
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 992px) {
  .seats-info {
    justify-content: flex-start;
    max-height: 170px;  

    &__include {
      text-align: end;
      align-self: flex-start;
      flex-grow: 2;
    }
  }
} 

@media only screen and (max-width: 768px) {
  .seats-info {
    justify-content: flex-start;
    max-height: 150px;  

    &__include {
      text-align: start;
      width: 120px;
    }
  }
} 
@media only screen and (max-width: 420px) {
  .seats-info {
    flex-direction: column;
    align-items: flex-start;
    max-height: 260px;  
  
    &__chosen-tickets-list {
      border-right: none;
      margin-bottom: 10px;
      border-bottom: 1px solid $black;
    }
    
    &__include {
      text-align: end;
      margin-bottom: 15px;
    }
    
    &__btn {
      width: 180px;
    }
  }
}

@media only screen and (min-width: 993px) {
  .seats-info {
      justify-content: flex-end;
      max-height: 190px;  
    
    &__include {
      text-align: end;
      align-self: flex-start;
      width: 150px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .seats-info {
    justify-content: flex-end;
    max-height: 190px;  
  }
}
