@import '../../variables.scss';

.calendar::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #0000004d; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px #00000080; 
}

.day {
  font-family: 'PT Sans';
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px; 
  line-height: 30px;
  font-weight: 300;
  font-size: 22px;
  width: 38px;
  height: 35px;
  margin-right: 5px;

  &_click {
    background-color: $bright-pink;
    color: $white;
  }
}

.calendar {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 5px;
  
  &__table {
    border-top: 1px solid $silver;
  }

  &__weekend {
    color: $bright-pink;
  }

  &__day:hover{
    background-color: $bright-pink;
    color: $white;
    cursor: pointer;
  }

  &__weekday {
    color: $silver;
    margin-right: 4px;
  }
}

@media only screen and (max-width: 420px) {
  .calendar {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .day {
    width: 38px;
    height: 35px;
  }
}
