@import '../variables.scss';

.hall {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: $light-brown solid 1px;

  &__screen { 
    width: 60%;
    margin-top: 15px;
    border-top: 40px solid $brown;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    margin-bottom: 30px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  &-legend {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
   
    
    &__text {
      font-size: 1.1rem;
    }

    &__seat-type {
      display: flex;
      margin: 10px;
    }

    &__icon {
      display: flex;
      box-shadow: 0 1px 3px 1px #BBB;
      margin-right: 5px;
      width: 25px;
      height: 25px;

      &_free {
        background-color: #fff;
      }
    
      &_selected {
        background-color: #90caf9;
      }
    
      &_bought {
        background-color: #e57373;
      }
    }
  }
}

.hall::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #0000004d; 
  border-radius: 10px;
}

.hall::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px #00000080; 
}

.seats-information {
  font-size: 24px;
  font-weight: 500;
}

 @media only screen and (max-width: 993px) {
  .hall {
    &-legend {
      &__icon {
        width: 20px;
        height: 20px;
      }
    }
  }
}

