.hall {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #898b94 solid 1px;


  &__screen { 
    border-top: 40px solid #3c3c3d;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
  }
}

.hall-legend__seat-type
{
  display: inline-block;
}

.hall-legend__icon {
  display: inline-block;
  box-shadow: 0 1px 3px 1px #BBB;

  &_free {
    background-color: #fff;
  }

  &_selected {
    background-color: #90caf9;
  }

  &_bought {
    background-color: #e57373;
  }
}

.hall-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  .seats-info {
    width: 50%;
  }
}

.hall::-webkit-scrollbar {
  width: 3px;
}

.hall::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.hall::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.seats-information {
  font-size: 24px;
  font-weight: 500;
}

@media only screen and (max-width: 992px) {
  .seats-information, .hall {
    margin: 0px 30px;
  }
  .hall {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .hall__screen {
    margin-top: 15px;
    margin-bottom: 35px;
    height: 0;
    width: 550px;
    border-top: 35px solid #3c3c3d;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
  }
  .hall-legend {
    margin-top: 15px;
  
    &__seat-type
    {
      width: 25px;
      height: 25px;

      &_selected,
      &_bought {
        margin-left: 140px;
      }
    }
    
    &__icon {
      width: 22px;
      height: 22px;
    }  
  }
}

@media only screen and (max-width: 768px) {
  .seats-information, .hall {
    margin: 0px 10px;
  }

  .hall {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .hall__screen {
    margin-top: 15px;
    margin-bottom: 25px;
    width: 450px;
    border-top: 30px solid #3c3c3d;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
  }
  .hall-legend {
    margin-top: 15px;

    &__seat-type_selected,
    &__seat-type_bought {
      margin-left: 90px;
    }
    
    &__icon {
      width: 18px;
      height: 18px;
    }

    &__text {
      font-size: 14px;
    }
  }
 }

 @media only screen and (max-width: 420px) {
  .seats-information, .hall {
    margin: 0px;
  }

  .hall {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .hall__screen {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 350px;
    border-top: 20px solid #3c3c3d;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
  }
  .hall-legend {
    margin-top: 10px;

    &__seat-type_selected,
    &__seat-type_bought {
      margin-left: 80px;
    }
    
    &__icon {
      width: 13px;
      height: 13px;
    }
    
    &__text {
      font-size: 12px;
    }
  }
 }

 @media only screen and (min-width: 993px) {
  .seats-information, .hall {
    margin: 0px 30px;
  }

  .hall {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .hall__screen {
    margin-top: 15px;
    margin-bottom: 40px;
    height: 0;
    width: 650px;
    border-top: 40px solid #3c3c3d;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
  }
  .hall-legend {
    margin-top: 20px;
  
    &__seat-type
    {
      width: 25px;
      height: 25px;
    }

    &__seat-type_selected,
    &__seat-type_bought {
      margin-left: 160px;
    }
    
    &__icon{
      width: 25px;
      height: 25px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .seats-information, .hall {
    margin: 0px 7rem;
  }

  .hall {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .hall__screen {
    margin-top: 15px;
    margin-bottom: 40px;
    height: 0;
    width: 650px;
    border-top: 40px solid #3c3c3d;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
  }

  .hall-legend {
    margin-top: 20px;
  
    &__seat-type
    {
      width: 25px;
      height: 25px;

      &_selected,
      &_bought {
        margin-left: 160px;
      }
    }
    
    &__icon {
      width: 25px;
      height: 25px;
    }

  }
}