a { 
  text-decoration: none; 
  color: rgb(233, 136, 157); 
  } 
  a:hover { 
  color: rgb(236, 186, 197); 
  }

  .schedule {
    flex-direction: row;
    display: flex; 
    
    &__cinema { 
      display: flex; 
    }

    &__space { 
      display: flex; 
    }

    &__ticket-list { 
      display: flex; 
      flex-wrap: wrap; 
    }

    &__time { 
      color: rgb(48, 48, 54); 
      font-weight: bold; 
      align-self: center; 
    } 
    
    &__ticket:hover { 
      .schedule__time { 
        color: rgb(250, 226, 229); 
      } 
      background-color: rgb(48, 48, 54); 
      .schedule_ticket { 
        border-left: 1px dashed rgb(250, 226, 229); 
      } 
    } 
    
    &_ticket { 
    display: flex; 
    border-left: 1px dashed rgb(38, 38, 41); 
    } 
    
    &__ticket { 
    display: flex; 
    flex-direction: row; 
    border: 1px solid rgb(38, 38, 41); 
    background-color:rgb(250, 226, 229); 
    justify-content: space-evenly; 
    border-radius: 3px; 
    } 
  } 
    
  @media only screen and (max-width: 992px) { 
    .schedule { 
      margin-top: 15px; 
      
      &__cinema { 
        flex-grow: 2; 
      } 
      
      &__space {
        flex-grow: 1; 
      } 
      
      &__ticket-list { 
        justify-content: flex-end;
      }
      &__time { 
        font-size: 13px; 
      } 
      
      &_ticket { 
        width: 13px; 
      } 
      
      &__ticket { 
        width: 62px; 
        height: 22px; 
        margin-right: 5px; 
        margin-bottom: 5px; 
      }  
    } 
  } 
    
  @media only screen and (max-width: 768px) { 
    .schedule { 
      margin-top: 10px; 
      align-items: flex-start; 
      flex-direction: row; 
    
      &__cinema { 
        flex-grow: 1; 
        margin-bottom: 10px; 
        font-size: 18px; 
        font-weight: 400; 
      } 
      
      &__space { 
        display: none; 
      } 
      
      &__ticket-list { 
        justify-content: flex-start; 
      }
      &__time { 
        font-size: 13px; 
      } 
      
      &_ticket { 
        width: 13px; 
      } 
      
      &__ticket { 
        width: 62px; 
        height: 22px; 
        margin-right: 5px; 
        margin-bottom: 5px; 
      } 
    } 
  } 
    
  @media only screen and (max-width: 420px) { 
    .schedule { 
      margin-top: 15px; 
      flex-direction: column; 
      align-items: flex-start; 
      
      &__cinema { 
      flex-grow: 3; 
      margin-bottom: 10px; 
      font-size: 18px; 
      font-weight: 400; 
      } 
      
      &__space { 
      display: none; 
      } 
      
      &__ticket-list { 
        flex-grow: 1; 
      }  
      &__time { 
      font-size: 13px; 
      } 
      
      &_ticket { 
      width: 13px; 
      } 
      
      &__ticket { 
        width: 62px; 
        height: 22px; 
        margin-right: 5px; 
        margin-bottom: 5px; 
      } 
    } 
  } 
    
  @media only screen and (min-width: 993px) { 
    .schedule { 
      margin-top: 15px; 
      
      &__cinema { 
        flex-grow: 1; 
        font-size: 18px; 
        font-weight: 400; 
      } 
      
      &__space { 
        display: flex; 
        flex-grow: 1; 
      } 
      
      &__ticket-list { 
        flex-grow: 1; 
        justify-content: flex-end; 
        width: 200px; 
      }

      &__time { 
      font-size: 13px; 
      } 
      
      &_ticket { 
      width: 13px; 
      } 
      
      &__ticket { 
        width: 62px; 
        height: 22px; 
        margin-right: 5px; 
        margin-bottom: 5px; 
      } 
    } 
  } 
    
  @media only screen and (min-width: 1200px) { 
    .schedule { 
      margin-top: 20px; 
      align-items: flex-start; 
      
      &_cinema { 
        display: inline-block; 
        flex-grow: 1; 
        font-size: 18px; 
        font-weight: 500; 
      } 
      &__space { 
        display: inline-block; 
        flex-grow: 1; 
      } 
      &__ticket-list { 
        flex-grow: 2; 
      }  
      &__time { 
        font-size: 13px; 
      } 
      
      &_ticket { 
        width: 13px; 
      } 
      
      &__ticket { 
        width: 62px; 
        height: 22px; 
        margin-right: 5px; 
        margin-bottom: 5px; 
      } 
    }  
  }