@media only screen and (max-width: 420px) {} 

@media only screen and (max-width: 992px) {
  td > span, th > span {
    font-family: 'PT Sans';
    display: block;
    width: 35px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 30px; 
    font-size: 22px;
    font-weight: 400;
  }
  
  td {
    color: #b0b0b0;
  }

  td.we {
    color: #629ee5;
  }

  span.date:hover{
    background-color: rgb(188, 208, 245);
    color: white;
    cursor: pointer;
  }

  .calendar-div {
    margin-top: 5px;
    border-top: 1px solid #ccc;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  td > span, th > span {
    font-family: 'PT Sans';
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 30px; 
    font-size: 20px;
    font-weight: 200;
  }

  td {
    color: #b0b0b0;
  }

  td.we {
    color: #629ee5;
  }

  span.date:hover{
    background-color: rgb(188, 208, 245);
    color: white;
    cursor: pointer;
  }

  .calendar-div {
    margin-top: 5px;
    border-top: 1px solid #ccc;
    overflow: hidden;
  }
}

@media only screen and (min-width: 993px) {
  td > span, th > span {
    font-family: 'PT Sans';
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 30px; 
    font-size: 25px;
    font-weight: 300;
  }

  td {
    color: #b0b0b0;
  }

  td.we {
    color: #629ee5;
  }

  span.date:hover{
    background-color: rgb(188, 208, 245);
    color: white;
    cursor: pointer;
  }

  .calendar-div {
    margin-top: 5px;
    border-top: 1px solid #ccc;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1200px) {
  td > span, th > span {
    font-family: 'PT Sans';
    display: block;
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 30px;  
    font-size: 26px;
    font-weight: 300;
  }

  td {
    color: #b0b0b0;
  }

  td.we {
    color: #629ee5;
  }

  span.date:hover{
    background-color: rgb(188, 208, 245);
    color: white;
    cursor: pointer;
  }

  .calendar-div {
    margin-top: 5px;
    border-top: 1px solid #ccc;
    overflow: hidden;
  }
}
