@media only screen and (max-width: 992px) {
  .schedule {
    margin-top: 15px;
    display: flex;
    align-items: center;

    .schedule__cinema {
      display: inline-block;
      width: 20%;
    }

    .schedule__space {
      display: inline-block;          
      width: 35%;
    }
    
    .schedule__ticket-list {
      display: inline-block;
      width: 45%;
  
      .schedule__ticket {
        display: inline-block;
        font-size: 13px;
        color: grey;
        width: 4.2rem;
        padding: 5px 10px;
        margin-left: 4px;
        margin-bottom: 2px;
        font-weight: bold;
        background: url('../../../Assets/tck_normal_new.png') no-repeat;
      }
  
      .schedule__ticket:hover {
        background: url('../../../Assets/tck_hover_new.png') no-repeat;
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .schedule {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .schedule__cinema {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }

    .schedule__space {
      display: none;    
    }
    
    .schedule__ticket-list {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
  
      .schedule__ticket {
        display: inline-block;
        font-size: 13px;
        color: grey;
        width: 4.2rem;
        padding: 5px 10px;
        margin-left: 5px;
        margin-bottom: 2px;
        font-weight: bold;
        background: url('../../../Assets/tck_normal_new.png') no-repeat;
      }
  
      .schedule__ticket:hover {
        background: url('../../../Assets/tck_hover_new.png') no-repeat;
        color: white;
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .schedule {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .schedule__cinema {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }

    .schedule__space {
      display: none;          
    }
    
    .schedule__ticket-list {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
  
      .schedule__ticket {
        display: inline-block;
        font-size: 13px;
        color: grey;
        width: 4.2rem;
        padding: 5px 10px;
        margin-left: 4px;
        margin-bottom: 2px;
        font-weight: bold;
        background: url('../../../Assets/tck_normal_new.png') no-repeat;
      }
  
      .schedule__ticket:hover {
        background: url('../../../Assets/tck_hover_new.png') no-repeat;
        color: white;
      }
    }
  }
} 

@media only screen and (min-width: 993px) {
  .schedule {
    margin-top: 15px;
    display: flex;
    align-items: center;

    .schedule__cinema {
      display: inline-block;
      width: 20%;
    }

    .schedule__space {
      display: inline-block;
      width: 35%;
    }
    
    .schedule__ticket-list {
      display: inline-block;
      width: 45%;
  
      .schedule__ticket {
        display: inline-block;
        font-size: 13px;
        color: grey;
        width: 4.2rem;
        padding: 5px 10px;
        margin-left: 5px;
        margin-bottom: 2px;
        font-weight: bold;
        background: url('../../../Assets/tck_normal_new.png') no-repeat;
      }
  
      .schedule__ticket:hover {
        background: url('../../../Assets/tck_hover_new.png') no-repeat;
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .schedule {
    margin-top: 20px;
    display: flex;
    align-items: center;
   
    .schedule__cinema {
      display: inline-block;
      width: 20%;
    }
    .schedule__space {
      display: inline-block;
      width: 35%;
    }
    .schedule__ticket-list {
      display: inline-block;
      width: 45%;
  
      .schedule__ticket {
        display: inline-block;
        font-size: 13px;
        color: grey;
        width: 4.2rem;
        padding: 5px 10px;
        margin-left: 7px;
        margin-bottom: 2px;
        font-weight: bold;
        background: url('../../../Assets/tck_normal_new.png') no-repeat ;
      }
  
      .schedule__ticket:hover {
        background: url('../../../Assets/tck_hover_new.png') no-repeat;
        color: white;
      }
    }
  }
}
 