.schedule {
  margin-top: 20px;
  display: flex;
  align-items: center;
 
  .schedule-cinema {
    display: inline-block;
    width: 20%;
  }
  .schedule-space {
    display: inline-block;
    width: 35%;
  }
  .schedule-tickets {
    display: inline-block;
    width: 45%;

    a {
      display: inline-block;
      font-size: 13px;
      color: grey;
      width: 55px;
      padding: 5px 10px;
      margin-left: 7px;
      margin-bottom: 2px;
      font-weight: bold;
      background: url('../../../Assets/tck_normal_new.png') no-repeat;
    }

    a:hover {
      background: url('../../../Assets/tck_hover_new.png') no-repeat;
      color: white;
    }
  }


}