@import '../../variables.scss';

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
  font-size: 14px;

  &__number {
    display:  flex;
    padding: 0 18px;
    text-align: center;
    font-weight: 600;
    width: 10px;
      font-size: 18px;
  }

  &__seat {
    display: inline-block;
    color: $white;
    background-color: $white;
    box-shadow: 0 1px 3px 1px $silver;
    position: relative;
    align-content: center; 
    margin-left: 5px;
    width: 25px;
    height: 25px;
    line-height: 20px;

    &:hover {
      color:$black;
      cursor: pointer;
    }

    &:hover::after {
      content: attr(data-title); 
      position: absolute; 
      z-index: 1;
      background: $light-brown; 
      color: $white;
      border: none;
      letter-spacing: 1px;
      font-weight: 400; 
      padding: 2px 4px;
      font-size: 12px; 
      left: -10%; top: -140%; 
      line-height: 15px;
    }

    &_selected {
      background-color: $cornflower-blue;
      color: $black;
    }
    &_bought {
      background-color: rgb(231, 108, 108);
      color: $black;
    }
  }

  &__seats-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.row__seat_bought {
  background-color: rgb(231, 108, 108);
  color: $black;
}
 
@media only screen and (max-width: 992px) {
  .row {
    &__seat {
      width: 20px;
      height: 20px;  

      &:hover::after {
        left: -10%; top: -170%; 
      }
    }
  }
}
