@import '../../variables.scss';

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 14px;

  &__number {
    display:  flex;
    padding: 0 8px;
    text-align: center;
    font-weight: 600;
    width: 10px;
    font-size: 14px;
    align-items: center;
  }

  &__seat {
    display: inline-block;
    color: $free-tickets;
    background-color: $free-tickets;
    border-radius: 3px;
    box-shadow: 0 1px 3px 1px $dark-burgundy;
    position: relative;
    align-content: center; 
    margin-left: 5px;
    width: 30px;
    height: 30px;
    line-height: 25px;
    cursor: pointer;

    &:hover {
      color: $white;
    }

    &:hover::after {
      content: attr(data-title); 
      position: absolute; 
      z-index: 1;
      background: $light-brown; 
      color: $white;
      border: none;
      letter-spacing: 1px;
      font-weight: 400; 
      padding: 2px 4px;
      font-size: 15px; 
      left: -10%; top: -140%; 
      line-height: 15px;
      cursor: not-allowed;
    }

    &_selected {
      background-color: $bright-pink;
      color: $white;

      &:hover {
        color:$white;
      }
    }
    &_bought {
      background-color: $dark-pink;
      color: $dark-pink;
      cursor: not-allowed;

      &:hover {
        color:$white;
      }
    }
  }

  &__seats-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
 
@media only screen and (max-width: 992px) {
  .row {
    &__seat {
      width: 25px;
      height: 25px;  

      &:hover::after {
        left: -10%; top: -170%; 
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .row {
    width: 100%;
    justify-content: flex-start;
  }
}
