@import '../variables.scss';


.container {
  font-family: 'Nunito','Helvetica Neue','Helvetica','Arial','sans-serif';
  background-color:#e8eaf6;
}

.card-list {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input[type="button"]:focus { 
  outline: 0; 
  outline-offset: 0; 
}

.card__button {
  height: 45px;
  width: 100%;
  border: 1px solid $pink; 
  background-color: $light-brown; 
  color: $pink; 
  font-size: 1.3rem; 
  padding: 10px 15px; 
  border-radius: 40px;
}

@media only screen and (max-width: 420px) {
  .card-list {
    justify-content: center;
  }
}