.confirm-container {
  margin: 0 auto;
  width: 800px;
  display: flex;
  background-color: rgb(48, 48, 54); 
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  color:  rgb(236, 186, 197); 
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.confirm-title {
font-size: 42px;
font-weight: 500;
}

.confirm-ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.confirm-btn, .back-btn {
  height: 60px;
  width: 150px;
  font-size: 24px !important;
    border: 1px solid rgb(233, 136, 157); 
    background-color: rgb(38, 38, 41); 
    color: rgb(233, 136, 157); 
    font-size: 17px; 
    padding: 10px 15px; 
    border-radius: 60px; 
    font-weight: 100; 
    letter-spacing: 0.01em; 
}

.confirm-btn {
  margin-right: 10px;
}

input[type="submit"]:focus { 
  outline: 0; 
  outline-offset: 0; 
  }
  

  @media only screen and (max-width: 992px) {
    .confirm-container {
      margin: 0 auto;
      width: 600px;
    }
  } 
  @media only screen and (max-width: 768px) {
    .confirm-container {
      margin: 0 auto;
      width: 95%;
    }
  } 
  @media only screen and (max-width: 420px) {
    .confirm-container {
      margin: 0 auto;
      width: 100%;
    }
  }
  @media only screen and (min-width: 993px) {
    .confirm-container {
      margin: 0 auto;
      width: 750px;
    }
  }
  @media only screen and (min-width: 1200px) {
    .confirm-container {
      margin: 0 auto;
      width: 800px;
    }
  }