@mixin scroll() {
  background: $bright-pink;
  border-radius: 30px;
  -webkit-box-shadow: inset 2px 2px 2px $grey, inset -2px -2px 2px $black-scroll;
  box-shadow: inset 2px 2px 2px $grey, inset -2px -2px 2px $black-scroll;
}
