$light-pink:#ecbac5;
$pink: #f0a2b3;
$light-brown: #303036;
$brown: #262629;
$silver: #b0b0b0;
$white: #fff;
$shadowForScroll: #ffffffd5;
$perano: #bcd0f5;
$cornflower-blue: #90caf9;
$prim: #f5ecf2;
$black: #000;
$bought-tickets: #e47070;
$burgundy: #500f2b;
$burgundy: #681137;
$dark-burgundy: #360c1d;
$light-black: #000;
$bright-pink: #d40754;
$transparent: transparent;
$greyScroll: #ffffff40;
$blackScroll: #00000040;
$yellowScroll: #f0e294; 
$pinkScroll: #f3a7c3;
$transparent: transparent;
$whiteForFont: #e4e0e0;
