$light-pink:#ecbac5;
$pink: #f0a2b3;
$light-brown: #303036;
$brown: #262629;
$silver: #b0b0b0;
$white: #fff;
$shadow-for-scroll: #ffffffd5;
$cornflower-blue: #90caf9;
$prim: #f5ecf2;
$black: #000;
$bought-tickets: #e47070;
$burgundy: #681137;
$dark-burgundy: #360c1d;
$light-black: #000;
$bright-pink: #d40754;
$transparent: transparent;
$grey: #ffffff40;
$black-scroll: #00000040;
$light-grayish-red: #e4e0e0;
$payment-form: #db487460;
$payment-form-label: #6b7c93;
$payment-form-border: #e6ebf1;
$payment-form-shadow-blue: #32325d1a;
$payment-form-shadow-black: #00000014;
$payment-form-input-shadow: #00000005;
$dark-grayish-red: #614141;
