
$light-pink:#ecbac5;
$pink: #f0a2b3;
$light-brown: #303036;
$brown: #262629;
$silver: #b0b0b0;
$white: #fff;
$perano: #bcd0f5;
$cornflower-blue: #90caf9;
$prim: #f5ecf2;
$black: #000;
$bought-tickets: #e47070;
$burgundy: #500f2b;
$dark-burgundy: #360c1d;
$light-black: #000;
$bright-pink: #d40754;
$transparent: transparent;
