.to-left {
  float: left;
}

.movie-info {
  margin-top: 55px;
  font-family: 'Nunito','Helvetica Neue','Helvetica','Arial','sans-serif';
}

@media only screen and (max-width: 420px) {}

@media only screen and (max-width: 992px) {
  .movie-info {
    margin: 0px 4rem;
    display: flex;
    flex-direction: column;
  }

  .movie-information-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 15px; 

    .movie-img {
      height: 220px;
      width: 140px;
    }

    .description {
      margin-left: 8px;

      h3, p {
        margin-top: 10px;
      }
    
      p {
        font-size: 93%;
        line-height: 22px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .movie-info {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
  }

  .movie-information-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 15px; 

    .movie-img {
      height: 200px;
      width: 130px;
    }

    .description {
      margin-left: 8px;

      h3, p {
        margin-top: 10px;
      }
    
      p {
        font-size: 87%;
        line-height: 20px;
      }
    }
  }
}

@media only screen and (min-width: 993px) {
  .movie-info {
    margin: 0 7rem;
  }

  .movie-information-content {
    width: 35%;
    margin-top:10px;
  
    h3, p {
      margin-top: 10px;
    }
  
    p {
      font-size: 16px;
      line-height: 22px;
      width: 95%;
    }
  }
  
  .tickets-information-content {
    margin-top:10px;
    width: 55%;
    
    h2 {
      font-size: 2rem;
    }
  }
  
  .movie-img {
    height: 400px;
    width: 90%;  
  }
}

@media only screen and (min-width: 1200px) {
  .movie-info {
    margin: 0px 7rem;
  }
  
  .movie-information-content {
    width: 35%;
    margin-top:10px;
  
    h3, p {
      margin-top: 10px;
    }
  
    p {
      font-size: 16px;
      line-height: 22px;
      width: 95%;
    }
  }
  
  .tickets-information-content {
    margin-top:10px;
    width: 55%;
    
    h2 {
      font-size: 2rem;
    }
  }
  
  .movie-img {
    height: 500px;
    width: 95%;  
  }
}
