@import '../../variables.scss';

.card {
  margin-top:40px;
  margin: 5px 7px;
  display: flex;
  flex-direction: column;
  width: 230px;

  &__media {
    height: 160px; 
    width: 230px; 
    border-radius: 10px;
    opacity: 0.7;
  } 

  &__media:hover {
    opacity: 1;
  } 

  &__title {
    text-align: center;
    font-weight: 300;
    padding: 2px;
    font-size: 1.2rem;
    height: 2.2rem;
    margin-bottom: 7px;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  &__button {
    height: 45px;
    align-self: center;
    width: 70%;
    background-color: $transparent; 
    color: $white; 
    font-size: 1.3rem; 
    padding: 10px 15px; 
    border-radius: 40px;
    border-color:$bright-pink;

    &:hover {
      background-color: $bright-pink;
    }
  }


  &__link {
    display: flex;
    text-decoration: none;
    justify-content: center;
  }
}

input[type="button"]:focus { 
  outline: 0; 
  outline-offset: 0; 
}

@media only screen and (max-width: 992px) {
  .card {
    margin-left: 12px;
    width: 180px;

    &__media {
      height: 220px; 
      width: 180px; 
    } 
  }
}

@media only screen and (max-width: 768px) {
  .card {
    margin-left: 17px;
    width: 190px;

    &__media {
      height: 240px; 
      width: 190px; 
    } 
  }
}

@media only screen and (max-width: 420px) {
  .card {
    margin: 6px 0px;
    width: 250px;
    
    &__title {
      margin-bottom: 2px;
    }
    
    &__media {
      height: 330px; 
      width: 250px; 
    } 
  }
} 

@media only screen and (min-width: 993px) {
  .card {
    margin: 6px 8px;
    
    &__media {
      height: 300px;
    }
  }
}

 @media only screen and (min-width: 1200px) {
  .card {
    margin: 5px 14px;
    
    &__media {
      height: 350px;
    }
  }
}
