@import '../../variables.scss';

.card {
  margin-top:40px;
  margin: 2px 7px;
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    font-weight: 300;
    padding: 2px;
    font-size: 1.2rem;
    height: 2.2rem;
    margin-bottom: 7px;
    flex-wrap: wrap;
  }

  &__button {
    height: 45px;
    width: 100%;
    border: 1px solid $pink; 
    background-color: $light-brown; 
    color: $pink; 
    font-size: 1.3rem; 
    padding: 10px 15px; 
    border-radius: 40px;
  }
}

input[type="button"]:focus { 
  outline: 0; 
  outline-offset: 0; 
}

@media only screen and (max-width: 992px) {
  .card {
    margin-left: 12px;
  
    &__media {
      height: 240px; 
    } 
  }
}

@media only screen and (max-width: 768px) {
  .card {

    &__media {
      height: 160px; 
    } 
  }
}

@media only screen and (max-width: 420px) {
  .card {
    margin: 6px 0px;
    
    &__title {
      margin-bottom: 2px;
    }
    
    &__media {
      height: 350px;
    } 
  }
} 

@media only screen and (min-width: 993px) {
  .card {
    margin: 6px 8px;
    
    &__media {
      height: 300px;
    }
  }
}

 @media only screen and (min-width: 1200px) {
  .card {
    margin: 5px 14px;
    
    &__media {
      height: 350px;
    }
  }
}
