.container {
  font-family: 'Nunito','Helvetica Neue','Helvetica','Arial','sans-serif';
  background-color:#e8eaf6;
}

@media only screen and (max-width: 420px) {
  .cardsContainer {
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .film-container {
    justify-content: flex-start;
    display: flex;
    align-items: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }  
 }

 @media only screen and (max-width: 992px) {
  .cardsContainer {
    margin: 0px 4rem;
    justify-content: center;
    display: flex;
    align-items: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .film-container {
    justify-content: flex-start;
    display: flex;
    align-items: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }  
 }

 @media only screen and (max-width: 768px) {
  .cardsContainer {
    margin: 0 2rem;
    justify-content: center;
    display: flex;
    align-items: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .film-container {
    justify-content: flex-start;
    display: flex;
    align-items: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }  
 }

 @media only screen and (min-width: 993px) {
  .cardsContainer {
    margin: 0px 7rem;
    justify-content: center;
    display: flex;
    align-items: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .film-container {
    justify-content: flex-start;
    display: flex;
    align-items: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }  
 }
 
 @media only screen and (min-width: 1200px) {
  .cardsContainer {
    margin: 0px 7rem;
    justify-content: center;
    display: flex;
    align-items: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .film-container {
    justify-content: flex-start;
    display: flex;
    align-items: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }  
 }
 