.confirm-ticket-component {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.confirm-ticket__ticket-info {
  margin-top: 20px;
  display: flex;
  justify-self: center;
  flex: 1 1 0;
  justify-content: space-evenly !important;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border: 1px solid rgb(236, 186, 197); 
  background-color: rgb(38, 38, 41);
  border-radius: 15px;
}

.confirm-ticket__number {
  border-right:  1px solid black;
    align-items: center;
    justify-content: flex-start;
    display: flex;
  padding-right: 10px;
   
}

.confirm-ticket__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputGroup {
  background: rgb(38, 38, 41);
  display: block;
  margin: 10px 0;
  position: relative;

  label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: rgb(236, 186, 197); 
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;

    &:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: rgb(236, 186, 197);
      
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid rgb(236, 186, 197);
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
  }

  input:checked ~ label {
    color: rgb(38, 38, 41);

    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &:after {
      background-color: rgb(38, 38, 41);
      border-color: rgb(38, 38, 41);
    }
  }

  input {
    width: 32px;
    height: 320px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}
.confirm-ticket__ticket-info {
  width: 300;
  height: 100px;
  font-size: 22px;
}

.inputGroup {
  width: 300px;
  font-size: 18px;

  label {
    padding: 12px 30px;
  }
}

@media only screen and (max-width: 992px) {
  .inputGroup {
    font-size: 18px;
  }
} 
@media only screen and (max-width: 768px) {
  .inputGroup {
    font-size: 18px;
  }
} 
@media only screen and (max-width: 420px) {
  .inputGroup {
    width: 300px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 993px) {
  .inputGroup {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .inputGroup {
    font-size: 18px;
  }
}

body {
font-family: 'Fira Sans', sans-serif;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

html {
box-sizing: border-box;
}
